@mixin error500-init() {
	body {
		background: #FEFEFE;			
	}	
}

@include error500-init();

@mixin error500-desktop() {
	@mixin all() {
		main {
			$size: calc-res(2880);
			background-image: url(php_img_url("#{$size}/icons/500.png"));
			background-repeat: no-repeat;
			background-size: contain;
		}
		nav {
			height: calc-res(310px);
		}		
	}

	@mixin error-message() {
		.error-message {
			height: calc-res(850px);
			border-top: 1px solid #d2d2d2;
			position: relative;
			.message {
				position: absolute;
				left: 43%;
				top: 24.3%;				
				&__title {
					font-size: 144px;
					color: #EE4040;
					margin: 0;
					line-height: normal;
				}
				&__content {
					font-size: 27px;
					color: #1C1C1C;
					margin: 0;
				}
			}
		}
	}

	@mixin error-section() {
		.error-section {
			height: calc-res(740px);
			padding-top: calc-res(166px);
			.button {
				display: block;
				width: calc-res(350px);
				height: calc-res(110px);
				text-align: center;
				margin: 0 auto;
				background-image: -webkit-linear-gradient(90deg, #D02525 0%, #E01818 100%);
				background-image: linear-gradient(0deg, #D02525 0%, #E01818 100%);
				border-radius: 5px;
				font-size: 18px;
				color: #FFFFFF;
				line-height: calc-res(110px);				
			}
		}
	}

	@mixin constructor(){
		@include all();
		@include error-message();
		@include error-section();
	}
	@include constructor();
}

@mixin error500-mobile() {
	@mixin all() {
		main {
			$size: res(mobile-to-pc(414));
			background-image: url(php_img_url("#{$size}/icons/500-mobile.png"));
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		nav {
			height: 50px;
			padding-top: 10px;
			padding-bottom: 10px;
		}		
	}

	@mixin error-message() {
		.error-message {
			height: res(mobile-to-pc(360px));
			border-top: 1px solid #d2d2d2;
			.message {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				-webkit-align-items: center;
				    -ms-flex-align: center;
				        align-items: center;
				position: relative;
				top: res(mobile-to-pc(193px));
				&__title {
					font-size: 58.08px;
					color: #EE4040;
					margin: 0;
					line-height: normal;
				}
				&__content {
					font-size: 18px;
					color: #1C1C1C;
					margin: 0;
					width: res(mobile-to-pc(220px));
				}
			}
		}
	}	

	@mixin error-section() {
		.error-section {
			height: res(mobile-to-pc(135px));	
			padding-top: res(mobile-to-pc(30px));
			.button {
				display: block;
				width: res(mobile-to-pc(175px));
				height: res(mobile-to-pc(55px));
				text-align: center;
				margin: 0 auto;
				background-image: -webkit-linear-gradient(90deg, #D02525 0%, #E01818 100%);
				background-image: linear-gradient(0deg, #D02525 0%, #E01818 100%);
				border-radius: 5px;
				font-size: 18px;
				color: #FFFFFF;
				line-height: res(mobile-to-pc(55px));				
			}			
		}
	}	

	@mixin constructor(){
		@include all();
		@include error-message();
		@include error-section();
	}
	@include constructor();
}

@mixin section_error500($args...) {
	@include device-desktop() {
		@include error500-desktop();
	}
	@include device-mobile() {
		@include error500-mobile();
	}
}