$movie-sel: get-module("movie", "selector");
$movielist-sel: get-module("movielist", "selector");
$tab-sel: get-module("tab", "selector");
$menu-sel: get-module("menu", "selector");
$slide-sel: get-module("slide", "selector");
$nav-sel: get-module("nav", "selector");

@mixin welcome-index-init() {
    #{$movielist-sel}{
        #{$movie-sel} {
            .count-number {
                font-size: 10px;
                color: #6E6E6E;
                line-height: 12px;
                .count-number__text:before {
                    content: "\f16a";
                    font-family: FontAwesome;
                    margin-right: 5px;
                }          
            }           
        }
    }
}

@include welcome-index-init();

@mixin welcome-index-desktop() {
    @mixin movielist() {
        #{$movielist-sel} {
            @include content-width();
            margin: 0 auto;        
            padding-top: calc-res(104px);
            @include movielist__head() {
                padding-bottom: calc-res(24px);
            }
            @include movielist__body() {
                padding-top: calc-res(52px);
                display: inline-block;
                width: 100%;
            }
            &__title {
                padding-left: calc-res(40px);
            }
            &:nth-of-type(1) {
                padding-top: calc-res(50px);
            }
            &:last-of-type {
                padding-bottom: calc-res(150px);
            }
            #{$movie-sel} {
                padding-bottom: calc-res(14px);
                float: left;
                width: 12.3%;      
                margin-right: 2.3%;                  
                .movie__title {
                    padding-left: calc-res(36px);                    
                    padding-right: calc-res(36px);
                    line-height: 23px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;                                    
                }
                .movie__views {
                    padding-left: calc-res(36px);                    
                    padding-right: calc-res(36px);
                    line-height: 23px;
                }
                .responsive {
                    height: calc-res(430px);
                    position: relative;
                    overflow: hidden;
                    > img {
                        height: 100%;
                    }
                }                 
            }
            #{$movie-sel}:nth-of-type(7n+7) {
                margin-right: 0;
            }             
        } 
    }

    @mixin constructor(){
        @include movielist();
    }
    @include constructor();
}

@mixin welcome-index-mobile() {
    @mixin nav() {
        #{$nav-sel} {
            &.full-screen {
                .actionbar {
                    &__trigger {
                        background-color: #f3f3f3;
                    }
                }
            }
        } 
    }

    @mixin movielist() {
        #{$movielist-sel} {
            @include movielist__head() {
                padding-top: res(mobile-to-pc(20px));
                padding-bottom: res(mobile-to-pc(20px));
                .movielist__viewall {
                    padding-right: res(65px);
                }

                .movielist__title {
                    font-size: res(mobile-to-pc(24px));
                    color: #FF0C0C;
                    line-height: 28px;                    
                }
            }  
            @include movielist__body() {
                display: inline-block;
                width: 100%;
                padding: 0;
                #{$movie-sel} {
                    display: block;
                    float: left;
                    position: relative;
                    margin: 0;
                    width: 32%;
                    float: left;
                    &:nth-child(3n+2) {
                        margin-left: 2%;
                        margin-right: 2%;
                    }
                    &:nth-child(n+4) {
                        margin-bottom: 0;
                    }
                    &:nth-child(n+4) {
                        display: none;
                    }
                    .responsive {
                        height: res(mobile-to-pc(196px));
                        position: relative;
                        overflow: hidden;
                        > img {
                            height: 100%;
                        }
                    }                                 
                    .movie__title {
                        text-align: center;
                        background-color: #ffffff;
                        top: auto;
                        font-size: 11.5px;
                        line-height: 19px;                        
                        padding-top: 3px;
                        padding-bottom: 3px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;                         
                    }                    
                    .count-number {
                        &__text {
                            display: none;
                        }
                    }
                }
            }          
            .movielist__title {
                padding-left: 10px;
            }            
        }     
    }

    @mixin constructor(){
        @include nav();
        @include movielist();
    }
    @include constructor();
}

@mixin section_welcome_index($args...) {   
    @include device-desktop() {  
        @include welcome-index-desktop();
    }
    @include device-mobile() {              
        @include welcome-index-mobile();
    }    
}




