$tab-sel: get-module("tab", "selector");
$movie-sel: get-module("movie", "selector");

@mixin welcome-list-init() {
    .videos {
        @extend %hflexbox;
    }

    #{$tab-sel} {
        &__nav {
            margin: 0;
            .swiper-wrapper {
                width: 240px;
            }
            .swiper-slide {
                width: 50%;
            }
        }
        &__thumbs {
            border-bottom: 1px solid #dedede;
            margin: 0;
            .swiper-wrapper {
                width: 240px;
            }
            .swiper-slide {
                width: 50%;
                height: 3px;
            }

	        .swiper-slide-active {
//	            background-color: #e01818;
	        }
        }
        &__content {
            .swiper-slide {
                width: 100%;
            }
        }
    }

  #{$movie-sel} {
    .count-number {
      font-size: 10px;
      color: #6E6E6E;
      line-height: 12px;
      .count-number__text:before {
        content: "\f16a";
        font-family: FontAwesome;
        margin-right: 5px;
      }
    }
  }
  $teal:     #56D7C6 !default;
  $purple:   #B96CFF !default;
  $blue:     #222232 !default;

  /* Universal styling */
  [class^="shaft-load"] {
    margin: 10px auto;
    width: 60px;
    height: 30px;
    opacity: 0;
    position: relative;
    > div {
      float: left;
      background: $purple;
      height: 100%;
      width: 5px;
      margin-right: 1px;
      display: inline-block;
    }
    .shaft1 { -webkit-animation-delay: 0.05s; animation-delay: 0.05s;}
    .shaft2 { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
    .shaft3 { -webkit-animation-delay: 0.15s; animation-delay: 0.15s; }
    .shaft4 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
    .shaft5 { -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
    .shaft6 { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
    .shaft7 { -webkit-animation-delay: 0.35s; animation-delay: 0.35s; }
    .shaft8 { -webkit-animation-delay: 0.4s; animation-delay: 0.4s;}
    .shaft9 { -webkit-animation-delay: 0.45s; animation-delay: 0.45s; }
    .shaft10 { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
  }

  [class^="shaft-load"].show {
    opacity: 1;
  }

  /* Shaft 1 */
  .shaft-load {
    > div {
      -webkit-animation: loading 1.5s infinite ease-in-out;
      animation: loading 1.5s infinite ease-in-out;
      -webkit-transform: scaleY(0.05) translateX(-10px);
      -ms-transform: scaleY(0.05) translateX(-10px);
      transform: scaleY(0.05) translateX(-10px);
    }
  }

  @-webkit-keyframes loading {
    50% {
      -webkit-transform: scaleY(1.2) translateX(10px);
      transform: scaleY(1.2) translateX(10px);
      background: $teal;
    }
  }

  @keyframes loading {
    50% {
      -webkit-transform: scaleY(1.2) translateX(10px);
      transform: scaleY(1.2) translateX(10px);
      background: $teal;
    }
  }
}


@include welcome-list-init();

@mixin welcome-list-desktop() {
    @mixin actionbar() {
        .actionbar {
            &__back {
                display: none;
            }
            &__switch {
                display: none;
            }
            &__search {
                display: none;
            }
        }
    }

    @mixin videos() {
        .videos {
            @include content-width();
            margin: 0 auto;
            margin-bottom: calc-res(342px);
            display: table;
            margin-top: calc-res(45.95px);
        }
    }

    @mixin types() {
        .types {
            margin-left: calc-res(70px);
            display: table-cell;
        }
    }

    @mixin select() {
        .select {
            padding-left: calc-res(54px);
            padding-right: calc-res(54px);
            padding-top: calc-res(40px);
            padding-bottom: calc-res(76px);
            background: #F2F2F2;
            border: 1px solid #D4D4D4;
            border-bottom: none;
            h3 {
                margin: 0;
                font-size: 18px;
                color: #DE1C1C;
                line-height: 25px;
                padding-bottom: calc-res(53.99px);
            }
            .select__label {
                display: inline-block;
                padding: 5px;
                background: #FFFFFF;
                border: 1px solid #CECECE;
                margin-right: calc-res(20px);
                margin-bottom: calc-res(15px);
                .fa {
                    padding-left: 15px;
                    cursor: pointer;
                }
            }
        }
    }

    @mixin nav() {
        .nav {
            border: 1px solid #D4D4D4;
            padding-bottom: calc-res(704px);
            &.movietypes {
                width: calc-res(674px);
                padding-left: calc-res(54px);
                padding-right: calc-res(54px);
                margin-top: 0;

                > li {
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    padding-top: calc-res(50px);
                    padding-bottom: calc-res(50px);
                    border-bottom: 1px solid #e5e5e5;
                }

                > li > a {
                    width: 100%;
                    padding: 0;
                    font-size: calc-res(32.28px);
                    color: #202020;
                    line-height: 37px;
                }

                > li > a:hover {
                    background-color: transparent;
                }

                li > .sub-navi {
                    width: 100%;
                }

                .sub-navi {
                    > li {
                        float: left;
                        &.active {
                            > a {
                                color: #ff8f00;
                            }
                        }
                    }
                    > li > a {
                        padding: 0;
                        color: #000000;
                        margin-right: 15px;
                        &:hover {
                            background-color: transparent;
                            color: #ff8f00;
                        }
                    }
                }
            }
        }
    }

    @mixin movies() {
        .movies {
            -webkit-flex: none;
                -ms-flex: none;
                    -webkit-box-flex: 0;
                    flex: none;
            display: table-cell;
            padding-left: calc-res(70px);
            padding-top: 0;
            vertical-align: top;
            width: 100%;
        }
    }

    @mixin tab() {
        #{$tab-sel} {
            &__nav {
                // display: none;
                .swiper-slide {
                    font-size: 22px;
                    color: #202020;
                    line-height: 31px;
                    > a {
                        font-size: 22px;
                        color: #202020;
                        line-height: 31px;
                    }
                }
                .swiper-slide.active {
                    // color: #ef1717;
                }
            }
            &__thumbs {
                // display: none;
                .swiper-slide.active {
                    background-color: #e01818;
                }
            }
            &__content {
                margin-top: calc-res(68px);
            }
        }
    }

    @mixin movie() {
        #{$movie-sel} {
            padding-bottom: res(14px, 6.2px);
            float: left;
            margin-bottom: calc-res(60px);
            width: 17.5%;
            margin-right: 3.125%;
            .movie__title {
                padding-left: calc-res(36px);
                padding-right: calc-res(36px);
                line-height: 23px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .movie__views {
                padding-left: calc-res(36px);
                padding-right: calc-res(36px);
                line-height: 23px;
            }
            .responsive {
                height: calc-res(430px);
                position: relative;
                overflow: hidden;
                > img {
                    height: 100%;
                }
            }
        }
        #{$movie-sel}:nth-of-type(5n+5) {
            margin-right: 0;
        }
    }

    @mixin movie-filter() {
        .movie-filter {
            display: none;
        }
    }

    @mixin menu() {
        #menu  {
            padding: 0;
        }
    }

    @mixin constructor() {
        @include actionbar();
        @include videos();
        @include types();
        @include select();
        @include nav();
        @include movies();
        @include tab();
        @include movie();
        @include movie-filter();
        @include menu();
    }
    @include constructor();
}

@mixin welcome-list-mobile() {
    @mixin actionbar() {
        .actionbar {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #e01818;
            &__brand {
                display: none;
            }
            &__search-form {
                display: none;
            }
            &__back {
                color: #ffffff;
                padding-left: res(mobile-to-pc(20px));
                font-size: res(mobile-to-pc(24px));
                display: -webkit-flex;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -webkit-align-items: center;
                    -ms-flex-align: center;
                        -webkit-box-align: center;
                        align-items: center;
                > a {
                    color: #ffffff;
                    font-size: res(mobile-to-pc(18px));
                    color: #F6F6F6;
                    line-height: 25px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            &__switch {
                @extend %hflexbox;
                border: 1px solid #ffffff;
                > a {
                    display: block;
                    color: #ffffff;
                    padding-left: res(mobile-to-pc(26px));
                    padding-right: res(mobile-to-pc(26px));
                    padding-top: res(mobile-to-pc(3px));
                    padding-bottom: res(mobile-to-pc(3px));
                }

                *.active {
                    background-color: #ffffff;
                    color: #e01818;
                }
            }
            &__search {
                padding-right: res(mobile-to-pc(20px));
                padding-left: res(mobile-to-pc(45px));
                > a {
                    color: #ffffff;
                    font-size: res(mobile-to-pc(24px));
                }
            }
        }
    }

    @mixin movie-filter() {
        .movie-filter {
            padding-left: 10px;
            padding-right: 10px;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: -webkit-inline-box;
            display: inline-flex;
            width: 100%;
            background-color: #f3f3f3;
            .list {
                width: 100%;
                border-bottom: 1px solid #eaeaea;
                padding-top: calc-res(50px);
                padding-bottom: calc-res(24px);

            }
            .list > a {
                display: block;
                float: left;
                margin-right: calc-res(52px);
                color: #272727;
            }
            .list > a.active {
                color: #f01111;
            }
        }
    }

    @mixin nav() {
        .nav {
            &.movietypes {
                width: 100%;
                margin: 0;
                padding-left: 10px;
                padding-right: 10px;
                background-color: #f3f3f3;
                padding-bottom: 15px;
                > li {
                    @extend %hflexbox;
                    border-bottom: 1px solid #eaeaea;
                    padding-top: calc-res(24px);
                    padding-bottom: calc-res(24px);
                }

                > li:last-child {
                    border-bottom: none;
                }

                > li > a {
                    padding: 0;
                    margin: 0;
                    margin-right: calc-res(52px);
                    color: #272727;
                }

                li > .sub-navi {
                    width: auto;
                    -webkit-flex: 1;
                        -ms-flex: 1;
                            -webkit-box-flex: 1;
                            flex: 1;
                }

                .sub-navi > li > a {
                    float: left;
                    padding: 0;
                    margin-right: calc-res(52px);
                    color: #272727;
                }
            }
        }
    }

    @mixin tab() {
        #{$tab-sel} {
            &__nav {
                display: none;
            }
            &__thumbs {
                display: none;
            }
            &__content {
                // padding-left: 10px;
                // padding-right: 10px;
                .movie-con {
                    width: res(mobile-to-pc(394px));
                    margin: 0 auto;
                }

                padding-top: calc-res(42px);
                .swiper-slide {
                    width: 100% !important;
                }
            }
        }
    }

    @mixin movie() {
        #{$movie-sel} {
            display: block;
            float: left;
            position: relative;
            margin: 0;
            width: 32%;
            float: left;
            &:nth-child(3n+2) {
                margin-left: 2%;
                margin-right: 2%;
            }
            &:nth-child(n+4) {
                margin-bottom: 0;
            }
            &:nth-child(n+4) {
                display: none;
            }
            .responsive {
                height: res(mobile-to-pc(196px));
                position: relative;
                overflow: hidden;
                > img {
                    height: 100%;
                }
            }
            .movie__title {
                text-align: center;
                background-color: #ffffff;
                top: auto;
                font-size: 11.5px;
                line-height: 19px;
                padding-top: 3px;
                padding-bottom: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .count-number {
                &__text {
                    display: none;
                }
            }
        }
    }

    @mixin videos() {
        .videos {
            display: block;
        }
    }

    @mixin select() {
        .select {
            display: none;
        }
    }

    @mixin movies() {
        -webkit-flex: none;
            -ms-flex: none;
                -webkit-box-flex: 0;
                flex: none;
    }

    @mixin constructor() {
        @include actionbar();
        @include movie-filter();
        @include nav();
        @include tab();
        @include movie();
        @include videos();
        @include select();
        @include movies();
    }
    @include constructor();
}

@mixin section_welcome_list($args...) {
    @include device-desktop() {
        @include welcome-list-desktop();

    }
    @include device-mobile() {
        @include welcome-list-mobile();
    }
}
