$tab-sel: get-module("tab", "selector");
$movie-sel: get-module("movie", "selector");

@mixin welcome-play-init() {
    #{$tab-sel} {
        &__nav {
            margin: 0;
            .swiper-slide {
                width: 50%;
            }       
            .swiper-slide-active {
                color: #ef1717;
            }
        }
        &__thumbs {
            border-bottom: 1px solid #dedede;
            margin: 0;        
            .swiper-slide {
                height: 3px;
            }
            .swiper-slide-active {
                background-color: #e01818;
            }
        }
        &__content {
            .swiper-slide {
                width: 100%;
            }
        }
    }

    #{$movie-sel} {
        width: 17%;
        margin-right: 3.75%;
        .count-number {
            font-size: 10px;
            color: #6E6E6E;
            line-height: 12px;
            .count-number__text:before {
                content: "\f16a";
                font-family: FontAwesome;
                margin-right: 5px;
            }          
        }           
    }
    #{$movie-sel}:nth-of-type(5n+5) {
        margin-right: 0;
    }
}

@include welcome-play-init();

@mixin welcome-play-desktop() {
    @mixin actionbar() {
        .actionbar {
            &__back {
                display: none;
            }
        }
    }

    @mixin videoplayer() {
        .videoplayer {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            width: 100%;
            padding: 20px 0;
            background-color: #333333;
            height: calc-res(1132px);
            background: #1F1F1F;            
            -webkit-justify-content: center;            
                -ms-flex-pack: center;            
                    -webkit-box-pack: center;            
                    justify-content: center;
            &__body {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                height: 100%;
                background-color: #ffffff;
                margin: 0 auto;
                .video-js {
                    width: calc-res(1860px);
                    height: 100%;
                    float: left;
                    background-color: #123123;
                }
                .vjs-big-play-button {
                    @include position-center-center(absolute);
                }                
            }
            &__list {
                width: calc-res(710px);
                height: 100%;
                background-color: #333333;                
                > h3 {
                    height: calc-res(116px);
                    line-height: calc-res(116px);
                    margin: 0;
                    color: #ffffff;
                    padding-left: calc-res(72px);
                    padding-right: calc-res(72px);                    
                }
                > ul {
                    list-style: none;
                    padding-left: calc-res(72px);
                    padding-right: calc-res(72px);                    
                    margin: 0 {
                        top: 10px;
                    };                    
                    > li {
                        background: #222222;                        
                        color: #ffffff;
                        display: block;
                        width: calc-res(90px);
                        height: calc-res(90px);
                        float: left;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        text-align: center;
                        line-height: calc-res(90px);
                    }
                    > li:hover {
                        cursor: pointer;
                        background-color: #c51313;
                    }
                    > li.active {
                        background-color: #c51313;
                    }
                }
            }
        }
    }

    @mixin tab() {
        .tab {
            display: none;
        }
    }

    @mixin movie-infos() {
        .movie-infos {
            display: block;
            @include content-width();
            margin: 0 auto;
            margin-top: calc-res(80px);
        }
    }

    @mixin movie-info() {
        .movie-info {
            margin-bottom: calc-res(98px);
            &__header {
                border-bottom: 1px solid #e5e5e5;
                margin-bottom: calc-res(92px);
                h3 {
                    font-size: 22px;
                    color: #202020;
                    line-height: 23px;                
                    border-bottom: 3px solid #a1a1a1;                    
                    width: calc-res(313px);
                    text-align: center;
                    margin: 0;
                    padding-bottom: 10px;
                }
            }
            &.summary {
                .movie-info__title {
                    font-size: 38px;
                    color: #FF1717;
                    line-height: 57px;                
                    margin: 0;
                }
                .movie-info__des {
                    > dt {
                        float: left;
                    }
                    > dt:after {
                        content: ": ";
                    }
                    > dt:nth-of-type(3) {
                        float: none;
                        margin-top: calc-res(74px);
                    }
                    > dd:nth-of-type(3) {
                        margin-left: 0;
                    }
                }                
            }
            &.guess {
                .movie-info__body {
                    display: inline-block;
                    width: 100%;
                }
                #{$movie-sel} {
                    padding-bottom: res(14px, 6.2px);
                    float: left;
                    margin-bottom: calc-res(60px);
                    .movie__title {
                        padding-left: calc-res(36px);                    
                        padding-right: calc-res(36px);
                        line-height: 23px;
                    }
                    .movie__views {
                        padding-left: calc-res(36px);                    
                        padding-right: calc-res(36px);
                        line-height: 23px;
                    }
                }
            }
        }
    }

    @mixin constructor(){
        @include actionbar();
        @include videoplayer();
        @include tab();
        @include movie-infos();
        @include movie-info();
    }
    @include constructor();
}

@mixin welcome-play-mobile() {
    @mixin nav() {
        nav {
            @include position(absolute, 0, 0, 0, 0);
            z-index: 1200;
            height: 50px;           
        }
    }

    @mixin actionbar() {
        .actionbar {
            padding-top: 10px;
            padding-bottom: 10px;
            &__brand {
                display: none;
            }
            &__search-form {
                display: none;
            }
            &__back {
                color: #ffffff;
                padding-left: res(mobile-to-pc(20px));
                font-size: res(mobile-to-pc(24px));
                display: -webkit-flex;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -webkit-align-items: center;
                    -ms-flex-align: center;
                        -webkit-box-align: center;
                        align-items: center;
                > a {
                    color: #ffffff;
                    font-size: res(mobile-to-pc(18px));
                    color: #F6F6F6;
                    line-height: 25px;                    
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    @mixin videoplayer() {
        .videoplayer {
            display: block;
            width: 100%;
            padding: 0;
            height: res(mobile-to-pc(263px));
            &__list {
                display: none;
            }
            &__body {
                height: 100%;
            }
            .video-js {
                width: 100%;
                height: 100%;
                background-color: #318273;
            }
        } 
    }

    @mixin movie-info() {
        .movie-info {
            display: none;
        }
    }

    @mixin tab() {
        #{$tab-sel} {
            display: block;
            &__nav {
                border-top: 1px solid #e3e3e3;
                .swiper-slide {
                    width: 33.3%;
                    padding-top: res(mobile-to-pc(16px));
                    padding-bottom: res(mobile-to-pc(16px));                    
                    position: relative;
                    > a {
                        font-size: 16px;
                        color: #555555;
                        line-height: 22px; 
                        text-decoration: none;                     
                    }
                    &.active {
                        > a {
                            color: #ff0000;
                        }
                    }
                }
                .swiper-slide-active {
                    > a {
                        color: #ff0000;
                    }
                }
            }
            &__thumbs {
                .swiper-slide {
                    width: 33.3%;
                    position: relative;
                    margin: 0;
                }
            }
            &__content {
                .swiper-slide {
                    width: 100%;
                }
                .movie-infomation {
                    &__header {
                        display: none;
                    }
                    &.summary {
                        padding-left: res(mobile-to-pc(19.3px));
                        padding-right: res(mobile-to-pc(19.3px));
                        .movie-infomation__title {
                            font-size: 18px;
                            color: #1A1A1A;
                            line-height: 27px;     
                            margin: 0; 
                            padding-top: res(mobile-to-pc(29px));                  
                        }
                        .movie-infomation__des {
                            > dt {
                                float: left;
                            }
                            > dt:after {
                                content: ": ";
                            }
                            > dt:nth-of-type(3) {
                                float: none;
                                margin-top: calc-res(74px);
                            }
                            > dd:nth-of-type(3) {
                                margin-left: 0;
                            }
                        }                
                    }
                }
                #{$movie-sel} {
                    display: block;
                    float: left;
                    position: relative;
                    margin-left: 0;
                    margin-right: 0;
                    width: 49%;
                    margin-bottom: 10px;
                    &:nth-child(even) {
                        float: right;
                    }                   
                    .movie__title {
                        text-align: center;
                        background: rgba(#414141, 0.74);
                        color: #ffffff;
                        @include position(absolute, 0, 0, 0, 0);
                        top: auto;
                        font-size: 14px;
                        line-height: 19px;                        
                        padding-top: 3px;
                        padding-bottom: 3px;
                    }                    
                    .count-number {
                        &__text {
                            display: none;
                        }
                    }
                }        
                .videolist {
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: -webkit-box;
                    display: flex;
                    width: 100%;
                    > ul {
                        list-style: none;
                        padding-left: res(mobile-to-pc(20px));
                        padding-right: res(mobile-to-pc(20px));
                        display: table;
                        width: 100%;
                        margin: 0 {
                            top: res(mobile-to-pc(27px));
                        };                    
                        > li {
                            display: block;
                            width: 13.1%;
                            height: res(mobile-to-pc(43px));
                            float: left;
                            margin-right: 3.86%;
                            margin-bottom: res(mobile-to-pc(12px));
                            text-align: center;
                            line-height: res(mobile-to-pc(43px));
                            border: 1px solid #d3d3d3;
                        }
                        > li:nth-child(6n+6) {
                            margin-right: 0;
                        }
                        > li:hover {
                            cursor: pointer;
                            color: #ffffff;
                            background-color: #ff0000;
                        }
                        > li.active {
                            color: #ffffff;
                            background-color: #ff0000;
                        }
                    }
                }      
            }
        }         
    }    

    @mixin movies() {
        .movies {
            padding-left: res(mobile-to-pc(12.5px));
            padding-right: res(mobile-to-pc(12.5px));
            padding-top: res(mobile-to-pc(25.51px));
            padding-bottom: res(mobile-to-pc(25.51px));
        }        
    }    
    
    @mixin constructor(){
        @include nav();
        @include actionbar();
        @include videoplayer();
        @include movie-info();
        @include tab();
        @include movies();
    }
    @include constructor();
}

@mixin section_welcome_play($args...) {
    @include device-desktop() {
        @include welcome-play-desktop();
    }
    @include device-mobile() {          
        @include welcome-play-mobile();      
    }
}