figure {
	&.movie {
		$this: unquote(".movie");
	    margin: 0;
	    padding: 0;
		color: #161616;
		line-height: 19px;	
		background: rgba(#F1F1F1, .74);		
		#{$this}__thumb {
			display: block;
			max-width: 100%;
			margin: 0;
		}
	}
}

@include module-exports("movie", ("selector": unquote("figure.movie")));