$movie-sel: get-module("movie", "selector");
$movielist-sel: get-module("movielist", "selector");
$tab-sel: get-module("tab", "selector");
$menu-sel: get-module("menu", "selector");
$slide-sel: get-module("slide", "selector");
$nav-sel: get-module("nav", "selector");

@function mobile-to-pc($res, $mobile-width: 414) {
    @return $res / $mobile-width * strip-unit($max-screen-width);
}

%flex-end-hflexbox {
    @extend %hflexbox;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
-webkit-box-pack: end;
        justify-content: flex-end;
    line-height: 20px;
}

@mixin frontsite-actionbar-desktop() {
    .actionbar {
        height: calc-res(116px);
        padding: {
            left: calc-res(40px);
            right: calc-res(40px);
        }
        &__brand {
            width: calc-res(240px);
            height: calc-res(76px);
            max-width: auto;
            display: table;
            > .responsive {
                display: table-cell;
                vertical-align: middle                
            }
        }
        &__search-form {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            .form-group {
                > .form-input input {
                    width: calc-res(700px);
                    height: calc-res(70px);
                    font-size: 14px;
                    color: #A4A4A4;
                    line-height: 19px;       
                    padding-left: calc-res(40px);
                }                
            }
            .submit {
                position: relative;
            }
            .submit .btn {
                display: block;
                height: 100%;
            }
            .submit:after {
                content: $fa-var-search;
                font-family: FontAwesome;
                font-size: 20px;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
            -webkit-box-pack: center;
                    justify-content: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
            -webkit-box-align: center;
                    align-items: center;
                background-color: #e01818;
                color: #ffffff;
                margin: 0;            
                @include position(absolute, 0, 0, 0, 0);
                cursor: pointer;
            }                
        }
    }
}

@mixin frontsite-actionbar-mobile() {
    .actionbar {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
        &__brand {
            width: res(mobile-to-pc(127px));
            max-width: 127px;
            padding-left: 10px;
        }   
        &__search-form {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            margin-left: 0;
            padding-left: res(mobile-to-pc(15px));
            .form-input > input {
                width: res(mobile-to-pc(203px));
                height: 30px;
                padding-left: 10px;
            }
            .form-group {
                > .form-input:after {
                    width: 40px;
                }
            }
            .submit {
                position: relative;
                -webkit-transform: translateX(-24px);
                        -ms-transform: translateX(-24px);
                    transform: translateX(-24px);
            }
            .submit .btn {
                display: block;
                height: 100%;
                width: 10px;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                background-color: transparent;
                border: 0;
                color: transparent;
            }
            .submit:after {
                content: $fa-var-search;
                font-family: FontAwesome;
                font-size: 20px;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
            -webkit-box-pack: center;
                    justify-content: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
            -webkit-box-align: center;
                    align-items: center;
                background-color: transparent;
                color: #ffffff;
                margin: 0;            
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;
                color: #737383;   
            }                
        }
        &__trigger {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
        -webkit-box-align: center;
                align-items: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
        -webkit-box-pack: center;
                justify-content: center;
        }
    }    
}

@mixin frontsite-menu-desktop() {
    #{$menu-sel} {
        background-image: -webkit-linear-gradient(270deg, #565656 0%, #363636 98%);
        background-image: linear-gradient(-180deg, #565656 0%, #363636 98%);
        border-color: transparent;
        border-width: 0;
        > li > a {
            font-size: 14px;
            color: #F0F0F0;
            line-height: 19px;        
        }
        > li:hover > a {
            background: #E01818;
        }
        > li.active > a {
            background-color: #e01818;
        }
        li > .sub-navi {
            background: rgba(#ffffff, .9);
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.50);        
            > li > a {
                font-size: 13px;
                color: #1E1E1E;
                line-height: 18px;
            }
        }

        height: res(90px, 39.5px);
        > li > a {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
        -webkit-box-pack: center;
                justify-content: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
        -webkit-box-align: center;
                align-items: center;
            height: res(90px, 40px);
            padding-left: res(66px, 29px);
            padding-right: res(66px, 29px);
        }
        li > .sub-navi {
            padding-left: res(120px, 53px);
            padding-right: res(120px, 53px);
            height: res(100px, 44.25px);
            li > a {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
            -webkit-box-pack: center;
                    justify-content: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
            -webkit-box-align: center;
                    align-items: center;                
                height: res(100px, 44.25px);
                padding: 0;
                margin-right: res(42px, 18.5px);
            }
            li > a:hover {
                color: #e01818;
                background-color: transparent;                
            }
        }        
    }
}

$menu-icons: "movie", "tvseries", "variety", "animation", "education", "sports", "documentary", "micro-film";
$menu-icons-length: length($menu-icons);

@mixin frontsite-menu-mobile() {
    #{$menu-sel} {
        height: res(90px);
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-align-items: center;
            -ms-flex-align: center;
                -webkit-box-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                -webkit-box-pack: center;
                justify-content: center;                

        > li {
            position: relative;
            width: res(mobile-to-pc(160px));
            height: res(mobile-to-pc(120px));            
            display: -webkit-flex;            
            display: -ms-flexbox;            
            display: -webkit-box;            
            display: flex;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    -webkit-box-align: center;
                    align-items: center;
            background-color: #fbfbfb;
            font-size: res(mobile-to-pc(17.5px));  
            border: 1px solid #dcdcdc;
            border-radius: 4px;
        }

        > li > a {
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: -webkit-inline-box;
            display: inline-flex;
            padding: 0;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    -webkit-box-align: center;
                    align-items: center;
            -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
            width: 101.5px;
            background-color: transparent;
            color: #212121 !important;
        }

        > li > a:before {
            content: "";
            display: block;
            width: res(mobile-to-pc(45px));
            height: res(mobile-to-pc(45px));
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: res(mobile-to-pc(10px));
            background-position: center center;
        }

        @for $i from 1 through $menu-icons-length {
            > li:nth-child(#{$i}) > a:before {
                $m: nth($menu-icons, $i);
                background-image: url(php_img_url("45/icons/menu-#{$m}.png"));
            }
        }

        > li:hover > a{
            background-color: #fbfbfb;
        }

        &.open {
            height: -webkit-calc(100% - 50px);
            height: calc(100% - 50px);
            background: #F3F3F3;
        }
    }    
}

@mixin frontsite-slide-desktop() {
    #{$slide-sel} {
        width: 100%;
        height: res(900px, 396px);
        .swiper-slide {
            .slide__title {
                display: -webkit-inline-flex;
                display: -ms-inline-flexbox;
                display: -webkit-inline-box;
                display: inline-flex;
                font-size: res(94.9px, 42px);
                color: #F4F4F4;
                line-height: 66px;
                text-shadow: 0px 4px 2px rgba(0,0,0,0.50);
                margin: 0;
                left: res(219px, 96px);
                top: res(410px, 180.4px);
                position: absolute;
            }
        }
        .swiper-pagination {
            height: res(186px, 82px) !important;
            background-image: -webkit-linear-gradient(270deg, rgba(#565656, .65) 0%, rgba(#565656, .65) 98%);
            background-image: linear-gradient(-180deg, rgba(#565656, .65) 0%, rgba(#565656, .65) 98%);
            bottom: - res(51px, 22px) !important;
        }   
        .swiper-pagination-bullet {
            width: res(295px, 114.4px);
            height: res(178px, 78.32px);
            position: relative;
            top: 0;
            margin: 0 !important;
            border: 2px solid rgba(#FFFFFF, .65);
        }
        .swiper-pagination-bullet-active {
            width: res(295px, 114.4px);
            top: - res(42px, 18.48px);
        }
    }    
}

@mixin frontsite-slide-mobile() {
    #{$slide-sel} {
        width: 100%;
        height: res(1370px, 192px);
        .swiper-slide {
            .slide__title {
                color: #ffffff;
            }
        }
    }       
}

@mixin frontsite-footer-desktop() {
    footer {
        background: #FAFAFA;       
        height: calc-res(486px);     
        border-top: 1px solid #d2d2d2;
        > * {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            @include content-width();
            margin: 0 auto;
        }
        font-size: 13px;
        color: #1C1C1C;
        line-height: 13px;
        .site-share {
            margin: 0 auto;
            padding-bottom: calc-res(84px);
            .icon {
                display: block;
                width: calc-res(107.5px);
                height: calc-res(107.5px);
                line-height: calc-res(107.5px);
                border-radius: 50%;      
                margin: 0 auto;
            }            
            &__link {
                margin-left: res(mobile-to-pc(16px));
                > a {
                    position: relative;
                    top: calc-res(20px);
                    color: transparent;
                }
                &:hover > a {
                    color: #212121;
                }
            }
            &__link:first-child {
                margin-left: 0;
            }            
            $icons: "huazhu", "pinet", "weibo", "weixin";
            $iconlength: length($icons);
            @for $i from 1 through $iconlength {
                &__link:nth-child(#{$i}) .icon {
                    $icon: nth($icons, $i);
                    background-image: url(php_img_url("107.5/icons/footer-#{$icon}.png"));
                    background-repeat: no-repeat;
                    background-size: cover;
                    cursor: pointer;
                    &:hover {
                        background-image: url(php_img_url("107.5/icons/footer-#{$icon}-hover.png"));
                    }
                }
            }            
        }
        .site-map {
            list-style: none;
            padding: 0;
            float: left;
            width: 100% !important;
            > li {
                margin-left: calc-res(66px);
            }
            > li:first-child {
                margin-left: 0;
            }
            > li a {
                font-size: 13px;
                color: #878787;
                line-height: 26px;                
            }
            > li a:hover {
                color: #e01818;
            }            
        }
        .copyright {
            margin-top: 12px;
            color: #878787;
            float: left;
            margin: 0;
            line-height: 26px;
            .record {
                font-style: normal;
                margin-left: 10px;
            }
        }        
        padding-top: calc-res(99.5px);
        padding-bottom: calc-res(140px);
    }      
}

@mixin frontsite-footer-mobile() {
    footer {
        background: #FAFAFA;       
        height: res(mobile-to-pc(225px));     
        border-top: 1px solid #d2d2d2;
        > * {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            @include content-width();
            margin: 0 auto;
        }
        font-size: 13px;
        color: #1C1C1C;
        line-height: 13px;
        .site-share {
            margin: 0 auto;
            width: res(mobile-to-pc(295.5px)) !important;
            min-width: 250px;
            display: block;
            height: res(mobile-to-pc(90.5px));
            overflow: hidden;
            .icon {
                display: block;
                float: left;
                width: res(mobile-to-pc(30.5px));
                height: res(mobile-to-pc(30.5px));
                margin-left: res(mobile-to-pc(11.3px));
            }            
            &__link {
                width: res(mobile-to-pc(135.5px));
                height: res(mobile-to-pc(35.6px));
                min-width: 115.5px;
                float: left;
                border: 1px solid #C6C6C6;
                border-radius: 4px;        
                display: -webkit-box;        
                display: -webkit-flex;        
                display: -ms-flexbox;        
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                    -ms-flex-align: center;
                        align-items: center;
                font-size: res(mobile-to-pc(10px));
                text-align: center;
                > a {
                    position: relative;
                    line-height: normal;
                    color: #212121;
                    margin-right: res(mobile-to-pc(11.3px));
                    padding-left: res(mobile-to-pc(6.5px));
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    height: 100%;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                        -ms-flex-align: center;
                            align-items: center;
                }                        
            }
            &__link:nth-child(2n+1) {
                margin-right: res(mobile-to-pc(21.5px));
            }
            &__link:nth-child(1) {
                margin-bottom: res(mobile-to-pc(16.3px));
            }
            &__link:nth-child(2) {
                margin-bottom: res(mobile-to-pc(16.3px));
            }
            $icons: "huazhu", "pinet", "weibo", "weixin";
            $iconlength: length($icons);
            @for $i from 1 through $iconlength {
                &__link:nth-child(#{$i}) .icon {
                    $icon: nth($icons, $i);
                    background-image: url(php_img_url("30.5/icons/footer-#{$icon}-mobile.png"));
                    background-repeat: no-repeat;
                    background-size: cover;
                    cursor: pointer;                    
                }
            }            
        }
        .site-map {
            list-style: none;
            padding: 0;
            display: block;
            text-align: center;
            position: relative;
            padding-top: res(mobile-to-pc(36px));
            > li {
                margin-left: res(mobile-to-pc(23px));
                display: inline-block;
                float: none;
            }
            > li:first-child {
                margin-left: 0;
            }            
            > li a {
                font-size: 13px;
                color: #878787;
                line-height: 26px;                
            }
            > li a:hover {
                color: #e01818;
            }
            > li:last-child {
                display: block;
                margin-left: 0;
            }
        }
        .copyright {
            margin-top: 12px;
            color: #878787;
            width: 100% !important;
            .record {
                font-style: normal;
                margin-left: 10px;
            }            
        }
        padding-top: res(mobile-to-pc(20px));
        padding-bottom: res(mobile-to-pc(57px));
    }     
}

@mixin section_layouts_frontsite($args...) {    
    @include device-desktop() {      
        @include frontsite-actionbar-desktop();
        @include frontsite-menu-desktop();
        @include frontsite-slide-desktop();
        @include frontsite-footer-desktop();
    }
    @include device-mobile() {
        @include frontsite-actionbar-mobile();
        @include frontsite-menu-mobile();
        @include frontsite-slide-mobile();
        @include frontsite-footer-mobile();
    }    
}